name: .NET Build

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        include-prerelease: true

    - name: Restore dependencies
      run: dotnet restore "SkillSmpQuery.Web/SkillSmpQuery.Web.csproj"

    - name: Build
      run: dotnet build "SkillSmpQuery.Web/SkillSmpQuery.Web.csproj" --no-restore
